.filter {
  margin-left: 200px;
  margin-top: 40px;
}
.filter-btn {
  padding: 20px 20px;
  font-size: 15px;
  background-color: aliceblue;
  cursor: pointer;
}
.res-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}