.header {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid black;
  align-items: center;
}
.logo {
  width: 100px;
  cursor: pointer;
}
.nav-items ul{
  display: flex;
  margin: 10px;
  list-style-type: none;
  gap: 20px;
}
.nav-items ul li{
  font-size: 20px;
  color: #999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  cursor: pointer;
}