.shimmer-container{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: aliceblue;
    height: 500px;
    width: 400px;
    margin: 20px;
}